<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1 align = "center">Bem vindo a Sorveteria Unincor!</h1>
    <p align = "center">Melhor sorvete de Três Corações.</p>
    <ion-card>
      <img src="https://s2.glbimg.com/9co2lKEp6jl-EFTo3lcMI9PAWDA=/940x523/e.glbimg.com/og/ed/f/original/2018/12/12/thiago_ramalho_3.jpg" />
    </ion-card>
    </ion-content>
</ion-content>
