<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmt96bk8CNR5klT8hYg3ihdlIHXtCcNRdjA&usqp=CAU"/>
      <ion-card-title>Sorvetes Diversos.</ion-card-title>
      <ion-card-subtitle>Sorvetes Coloridos e maravilhosos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>